body {
    display: flex;
    flex-wrap: wrap;
    
  }
  body > * {
    
  text-align: center;
  
  color: white;
  font-size: 50 ;
  font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
 
   
}
  
  .header
  {
   background-color: #F7ECDE;
    flex: 1 100%;
    
    
  }

  header nav {
    display: flex;
    align-items: inline-block;
    gap: 10px;
}
  .sidebar {
    flex: 1;
    height: 90%;
    background-color: #E9DAC1;
  }
  .main {
    flex: 4;
    width: 90%;
   background-color: #9ED2C6;
}
main .image{
 
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;

}

  .footer {
    flex:  100%;
    background-color:#54BAB9 ;
  }
